# NaruMa — Mako notifications (Catppuccin Mocha)

sort=-time
layer=overlay
anchor=top-right

background-color=#1e1e2e
text-color=#cdd6f4
border-color=#45475a
border-radius=0
border-size=2

width=360
height=150
margin=10
padding=12

font=JetBrainsMono Nerd Font 11
max-icon-size=32
icon-path=/usr/share/icons/Papirus-Dark

default-timeout=5000
ignore-timeout=0

[urgency=low]
border-color=#45475a
default-timeout=3000

[urgency=normal]
border-color=#45475a

[urgency=high]
border-color=#f38ba8
text-color=#f38ba8
default-timeout=0
